header {
    position: relative;
    margin-bottom: 20px; 
}

.search-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

form {
    display: flex;
}

input {
    padding: 0.5em;
}

button {
    padding: 0.5em;
}

#hero-img1, #hero-img2, #hero-img3 {
    width: 30%;
    max-height: 2000px;
    display: block;
    height: 50%;
    margin: 10px;
}

body {
    background-color: #ffeedd;
    margin: 0; 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 50px; 
}

.container {
    width: 80%;
    margin: 0 10%;
    padding: 20px;
    box-sizing: border-box;
}

.testimonials {
    text-align: center;
    background-color: #ffeedd;
    padding: 20px;
    margin-bottom: 20px; 
    box-sizing: border-box;
}

.test1, .test2, .test3 {
    width: 30%;
    max-height: 2000px;
    display: block;
    height: 50%;
    margin: 10px; 
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px; 
}

footer {
    background-color: rgba(38, 70, 83, 0.7);
    color: #F3F3EC;
    padding: 25px 50px;
    margin-top: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #F3F3EC;
}

footer a:hover {
    color: #264653;
}
